@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --color-fondo: white;
    --color-seccion: rgb(221, 212, 202);
    --color-fuente: #2e4c4c;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--color-fondo);
    font-size: 16px;
    color: var(--color-fuente);
}
h2{
    font-size: 1.8em; 
}

/* ABOVE THE FOLD */
#hero {
    display: flex; 
    align-items: center;
    background-image: url("../img/BLOGPOST_MOBILE_NUEVA.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vh;
}
    /* hero animation */
    .slide-in-from-right {
        animation: slide-in-right 2s ease forwards;
        visibility: visible;
    }
    @keyframes slide-in-right {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }
    #hero-paragraph {
        font-size: 2.2em;
        font-weight: 500;
        color: #2c4c4c;
        text-align: center;
        padding: 5% 5% 5% 5%;
    } 
#paragraph2 {
    padding: 3%;
    font-size: 1.5em;
    font-style: italic;
}
#lista-e-imagen {
    padding: 2%;
    width: 80%;
    margin: 1% auto 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background-color: rgb(252,239,234);
    box-shadow: 40px 40px 0px rgb(46,76,76);

}
#lista li{
    width: 70%;
    padding: 10px;
    margin: 0px auto;
    font-size: 1.1em;
    line-height: 2.0;
}
li::marker {
    font-size: 1.5em;
}
#parrafo-e-imagen{
    padding: 3% 0% 7% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
#paragraph3{
    width: 40%;
    text-align: justify;
    line-height: 150%;
    font-size: 1.5em;
}
#imagen-confianza {
    width: 30%;
    height: auto;
    box-shadow: 40px 40px 0px rgb(201,221,212);
}

/* ------------------------------------------------------------------------------------------------ */

/* SECCIONES */
.contactSection, .comentSection, .sectionAboutus, .finalSection{
    padding: 5vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}
.comentSection{
    background-color: rgb(238,243,244);
}

/* ------------------------------------------------------------------------------------------------ */

/* FORMULARIOS */
.formulario{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 60%;
    background-color: var(--color-seccion);
    padding: 5vh 2vw;
    border-radius: 10px;
}
.formulario .inputContainer{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
.formulario .inputContainer input{
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(245,248,250);
    border: none;
    border-radius: 15px;
}
.comentArea{
    padding: 10px;
    margin-top: 5px;
    height: 20vh;
    background-color: rgb(245,248,250);
    border: none;
    border-radius: 20px 0 20px 20px;
    resize: vertical;
}
.formulario .inputContainer input:focus, .comentArea:focus{
    outline: none;
    border-style: solid;
    border-color: rgba(163,121,137,0.8);
}
.submitBtn{
    padding: 10px;
    width: 200px;
    background-color: rgb(46,76,76);
    color: white;
    border: none;
    border-radius: 20px 0 20px 20px;
}
.submitBtn:hover{
    transition: 1s ease-in-out;
    background-color: #9EA7B1;
    color: var(--color-fuente);
    font-weight: bold; 
}

/* ------------------------------------------------------------------------------------------------ */

/* CLASES REGULARES */
.clases-regulares{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    background-color: rgb(201,211,221);
    padding-top: 20px;
    padding-bottom: 20px;
}
.clases-regulares h2{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    width: 100%;
    font-size: 1.5em;
}
.clases-regulares ul{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    background-color: rgb(221, 212, 202);
    box-shadow: 20px 20px 0px rgb(46,76,76);
    padding: 2% 5%;
}

/* ------------------------------------------------------------------------------------------------ */

/* BOTÓN AL FORMULARIO */
.btntoform{
    width: 300px;
    height: 150%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(163,121,137);
    border: rgb(163,121,137) solid 3px;
    border-radius: 50px 0px 50px 50px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom left, white 50%, rgb(163, 121, 137) 50%);
    background-size: 200% 200%;
    background-position: bottom left;
    transition: background-color 1s ease-in, color 0.5s ease-in;
}
.btntoform:hover {
    cursor: pointer;
    background-position: top right;
    transition: background-position 1s ease-out, color 0.5s ease-out;
    color: rgb(163, 121, 137);
}

/* ------------------------------------------------------------------------------------------------ */

/* SOBRE NOSOTROS */
.sectionAboutus div{
    display: flex;
    align-items: center;
    gap: 20px 50px;
    text-align: justify;
}
.paragraphs{
    display: flex;
    flex-direction: column;
} 
.sectionAboutus div p:last-of-type {
    font-weight: bold;
    font-size: 1.2em;
}
.sectionAboutus img{
    box-shadow: 40px 40px 0px rgb(201,221,212);
}

/* ------------------------------------------------------------------------------------------------ */

/* TARJETAS DE OPINION */
.opiniones{
    display: flex;
    flex-direction: column;
}
.cardOpinion{
    display: flex;
    align-items: center;
    margin: 2vh;
}
    .cardImg{
        width: 15%;
        height:  15%;
        flex: 0 0 auto;
        margin-right: 20px;
        border-radius: 50%;
    }
    .cardOpinion div {
        display: flex;
        flex-direction: column ;
        justify-content: left;
        gap: 10px 0px;
        padding: 20px;
        width: 40vw;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
.comentContainer{
    display: flex;
    flex-direction: column-reverse;
}

/* ------------------------------------------------------------------------------------------------ */

/* PREGUNTAS-FRECUENTES */
.container-preguntas{
    width: 60%;
    margin: 50px auto;
}
.container-preguntas h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.container-preguntas > p:first-of-type, .container-preguntas > p:last-of-type{
    width: 100%;
    text-align: center;
    line-height: 150%;
    font-size: 1.2em;
}
.container-preguntas > p:last-of-type{
    padding: 5% 0%;
}
.preguntas-frecuentes{
    box-shadow: 1px 1px 1px  rgb(197, 196, 196);
    
}
.pregunta-frecuente{
    display: flex;
    justify-content: space-between;
    height: 100px;
    text-align: left;
}
.simb-izq{
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
}
.pregunta-frecuente p{
    padding-top: 40px;
    font-size: 1em;
    width: 80%;
}
.simb-der{
    width: 30px;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.5s;
    box-shadow: 0 0 12px -1px rgb(32, 31, 31);
    background-color: black;
    color: white;
}
.simb-der:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(182, 177, 177);
}
.respuesta-frecuente{
    height: 0;
    padding: 0 20px 4px 75px;
    font-size: 1em;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    text-align: justify;
}


/* ------------------------------------------------------------------------------------------------ */

/* SECCIÓN FINAL */
.container-final{
    display: flex;
    gap: 5vw;
    align-items: flex-start;
}
.container-final h2{
    display: flex;
    flex-basis: 50%;
    text-align: justify;
    /* padding: 5%; */
    font-size: 2.5em;
}
.container-planes{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.valorClases{
    padding-left: 25px;
    list-style-type: none;
}

/* ------------------------------------------------------------------------------------------------ */

/* TARJETAS DE PRODUCTO */
.productSection{
    padding: 5vh 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    background-color:rgb(249,249,249);
}
.productSection > p{
    width: 90%;
    text-align: center;
    line-height: 150%;
    font-size: 1.2em;
}
.productContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.productCard{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:white;
    box-shadow: 20px 20px 0px rgb(46,76,76);
    font-size: 0.9em;   
}
.productCard img{
    margin: auto 0px;
    width: 40%;
    height: auto;
}
.productCard div{
    padding: 10px 0px 10px 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(201,221,212);
}

/* ------------------------------------------------------------------------------------------------ */

/* FOOTER */

footer{
    width: 100%;
    padding: 20px;
    background-color: rgb(163,121,137);
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    gap: 20px;
    font-size: 0.9em;
    font-style: italic;
    color: rgb(251,237,232);
}
footer p{
    display: flex;
    flex-direction: column;
}
.footer-contacto{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 0.9em;
}
footer a{
    text-decoration: none;
    color: rgb(251,237,232);
}

/* ------------------------------------------------------------------------------------------------ */

