@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --color-fondo: white;
    --color-seccion: rgb(221, 212, 202);
    --color-fuente: #2e4c4c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--color-fondo);
    font-size: 16px;
    color: var(--color-fuente);
}
h2{
    font-size: 1.8em; 
}

/* ABOVE THE FOLD */
#hero {
    display: flex; 
    align-items: center;
    background-image: url("../img/BLOGPOST_MOBILE_NUEVA.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vh;
}
    /* hero animation */
    .slide-in-from-right {
        animation: slide-in-right 2s ease forwards;
        visibility: visible;
    }
    @keyframes slide-in-right {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }
    #hero-paragraph {
        font-size: 2.2em;
        font-weight: 500;
        color: #2c4c4c;
        text-align: center;
        padding: 5% 5% 5% 5%;
    } 
#paragraph2 {
    padding: 3%;
    font-size: 1.5em;
    font-style: italic;
}
#lista-e-imagen {
    padding: 2%;
    width: 90%;
    margin: 1% auto 5%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 40px 40px 0px rgb(46,76,76);
    font-size: 1.1em;
    background-color: var(--color-seccion);

}
#lista {
    display: flex;
    flex-direction: column;
}
#lista li{
    padding: 5%;
}
li::marker {
    font-size: 25px;
}
#paragraph3, #paragraph4 {
    padding: 0.5% 3%;
    text-align: center;
    line-height: 130%;
    font-size: 1.5em;
}
#imagen-confianza {
    text-align: center;
}
#imagen-confianza img{
    width: 40%;
    height: auto;
}

/* ------------------------------------------------------------------------------------------------ */

/* SECCIONES */
.contactSection, .comentSection{
    padding: 5vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}
.comentSection{
    background-color: rgb(238,243,244);
}

/* ------------------------------------------------------------------------------------------------ */

/* FORMULARIOS */
.formulario{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 60%;
    background-color: var(--color-seccion);
    padding: 5vh 2vw;
    border-radius: 10px;
}
.formulario .inputContainer{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
.formulario .inputContainer input{
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(245,248,250);
    border: none;
    border-radius: 15px;
}
.comentArea{
    padding: 10px;
    margin-top: 5px;
    height: 20vh;
    background-color: rgb(245,248,250);
    border: none;
    border-radius: 20px 0 20px 20px;
}
.formulario .inputContainer input:focus, .comentArea:focus{
    outline: none;
    border-style: solid;
    border-color: rgba(163,121,137,0.8);
}
.submitBtn{
    padding: 10px;
    width: 200px;
    background-color: rgb(46,76,76);
    color: white;
    border: none;
    border-radius: 20px 0 20px 20px;
}
.submitBtn:hover{
    transition: 1s ease-in-out;
    background-color: #9EA7B1;
    color: var(--color-fuente);
    font-weight: bold; 
}


/* ------------------------------------------------------------------------------------------------ */

/* CLASES REGULARES */
.clases-regulares{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    background-color: rgb(192, 222, 223);
    padding-top: 20px;
    padding-bottom: 20px;
}
.clases-regulares h2{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    width: 100%;
    
    font-size: 1.5em;
}
.clases-regulares h2 span{
    font-weight: bold;
}
.clases-regulares ul{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    background-color: rgb(221, 212, 202);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    padding: 2% 5%;
}
.btntoform{
    width: 300px;
    height: 150%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(163,121,137);
    border: none;
    border-radius: 50px 0px 50px 50px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
}
.btntoform:hover{
    cursor: pointer;
    
}
.btntoform span{
    font-size: 1.3em;
}

/* ------------------------------------------------------------------------------------------------ */

/* SOBRE NOSOTROS */
.sectionAboutus{
    display: flex;
    margin-left: 100px;
    margin-top: 25px;
    text-align:justify;
    width: 850px;
    justify-content: left;
    align-items: center;
    border-top-right-radius: 5px 5px 5px;
}
.sectionAboutus img{
    width:400px ;
    margin-left: 100px;
    justify-content: center;
    border-radius: 15px;
 }

/* ------------------------------------------------------------------------------------------------ */
 
/* TARJETAS DE OPINION */
.opiniones{
    display: flex;
    flex-direction: column;
}
.cardOpinion{
    display: flex;
    align-items: center;
    margin: 2vh;
}
    .cardImg{
        width: 15%;
        height:  15%;
        flex: 0 0 auto;
        margin-right: 20px;
        border-radius: 50%;
    }
    .cardOpinion div {
        display: flex;
        flex-direction: column ;
        justify-content: left;
        gap: 10px 0px;
        padding: 20px;
        width: 40vw;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
.comentContainer{
    display: flex;
    flex-direction: column-reverse;
}

/* ------------------------------------------------------------------------------------------------ */

/* PREGUNTAS-FRECUENTES */
.container-preguntas{
    width: 60%;
    margin: 50px auto;
}
.container-preguntas h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.preguntas-frecuentes{
    box-shadow: 1px 1px 1px  rgb(197, 196, 196);
}
.pregunta-frecuente{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.simb-izq{
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
}
.pregunta-frecuente p{
    padding-top: 20px;
    font-size: 1em;
}
.simb-der{
    width: 10%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.5s;
    box-shadow: 0 0 12px -1px rgb(32, 31, 31);
    background-color: black;
    color: white;
}
.simb-der:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(182, 177, 177);
}
.respuesta-frecuente{
    height: 0;
    padding: 0 20px 2px 75px;
    font-size: 1em;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
}

/* ------------------------------------------------------------------------------------------------ */

/* TARJETAS DE PRODUCTO */
.productSection{
    padding: 5vh 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    background-color:rgb(249,249,249);
}
.productContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.productCard{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:var(--color-seccion);
    padding: 10px;
    gap: 2vw;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    font-size: 0.9em;   
}
.productCard img{
    width: 165px;
    height: 165px;
    border-radius: 5px;
}
.productCard div{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ------------------------------------------------------------------------------------------------ */

/* FOOTER */

footer{
    width: 100%;
    padding: 20px;
    background-color: rgb(163,121,137);
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    gap: 20px;
    font-size: 0.9em;
    font-style: italic;
    color: rgb(251,237,232);
}
footer p{
    display: flex;
    flex-direction: column;
}
.footer-contacto{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 0.9em;
}
footer a{
    text-decoration: none;
    color: rgb(251,237,232);
}

/* ------------------------------------------------------------------------------------------------ */

